<form class="form" [formGroup]="formGroup" (ngSubmit)="onSubmit()">
    <label>
        <h1>{{ ui.label || ui.id }}</h1>
    </label>
    <div class="form-block">
        <div class="form-group" *ngFor="let fi of forms">
            <label [for]="fi.id">{{ fi.label || fi.id}}</label>
            <ng-container *ngIf="!!fi.fcontrol">
                <app-generic-edit-input [formGroup]="formGroup" [item]="fi" [masters]="masters"></app-generic-edit-input>
            </ng-container>
            <ng-container *ngFor="let fii of fi.controls">
                <app-generic-edit-input [formGroup]="formGroup" [item]="fii" [masters]="masters"></app-generic-edit-input>
            </ng-container>
        </div>
    </div>
    <div class="action-bar">
        <button type="submit" class="btn btn-primary" [disabled]="!formGroup.valid">Save</button>
        <button type="button" class="btn btn-outline" (click)="onBack()">Back</button>
    </div>
</form>