<form class="form" [formGroup]="formGroup" (ngSubmit)="onSubmit()">
    <label>
        <h1>{{ ui.label || ui.id }}</h1>
    </label>
    <div class="form-group row" *ngFor="let fi of forms">
        <div [class]="fi.labelClass || 'col-lg-2 col-md-12 col-sm-12 col-xs-12'">
            <label [for]="fi.id">{{ fi.label || fi.id}}</label>
        </div>
        <div [class]="fi.valueClass || 'col-lg-4 col-md-4 col-sm-12 col-xs-12'" *ngIf="!!fi.fcontrol">
            <app-generic-edit-input [formGroup]="formGroup" [item]="fi"></app-generic-edit-input>
        </div>
        <div [class]="fii.valueClass || 'col-lg-4 col-md-4 col-sm-12 col-xs-12'" *ngFor="let fii of fi.controls">
            <app-generic-edit-input [formGroup]="formGroup" [item]="fii"></app-generic-edit-input>
        </div>
    </div>
    <div class="action-bar">
        <button type="submit" class="btn btn-primary" [disabled]="!formGroup.valid">Save</button>
        <button type="button" class="btn btn-outline" (click)="onBack()">Back</button>
    </div>
</form>