<form (ngSubmit)="onSubmit()">
    <section class="form-block">
        <label>
            <h1>User</h1>
        </label>
        <div class="form-group row" *ngIf="user._id">
            <div class="col-lg-2 col-md-12 col-sm-12 col-xs-12">
                <label for="gForm_1">ID</label>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <input [(ngModel)]="user._id" name="_id" readonly class="form-control" type="text" id="gForm_1" placeholder="ID">
            </div>
        </div>
        <div class="form-group row">
            <div class="col-lg-2 col-md-12 col-sm-12 col-xs-12">
                <label for="gForm_1">Email</label>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <input [(ngModel)]="user.email" name="email" class="form-control" type="text" id="gForm_1" placeholder="Email">
            </div>
        </div>
        <div class="form-group row">
            <div class="col-lg-2 col-md-12 col-sm-12 col-xs-12">
                <label for="gForm_1">Name</label>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <input [(ngModel)]="user.firstName" name="firstName" class="form-control" type="text" id="gForm_1" placeholder="First Name">
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <input [(ngModel)]="user.lastName" name="lastName" class="form-control" type="text" id="gForm_2" placeholder="Last Name">
            </div>
        </div>
        <div class="action-bar">
            <div class="btn-group">
                <button type="submit" class="btn btn-primary">Save</button>
                <button class="btn" (click)="onBack()">Back</button>
            </div>
        </div>
    </section>
</form>
<div class="modal static bump-down" *ngIf="warning">
    <div class="modal-dialog" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">
                    <div class="alert alert-danger">
                        <div class="alert-items">
                            <div class="alert-item static">
                                <div class="alert-icon-wrapper">
                                    <clr-icon class="alert-icon" shape="exclamation-circle"></clr-icon>
                                </div>
                                <span class="alert-text">
                                    Need Your Attention
                                </span>
                            </div>
                        </div>
                    </div>
                </h3>
            </div>
            <div class="modal-body">
                <p>{{ warning }}</p>
            </div>
            <div class="modal-footer">
                <button (click)="clearWarning()" class="btn btn-primary" type="button">Ok</button>
            </div>
        </div>
    </div>
</div>
