<form class="form" (ngSubmit)="onSubmit()">
  <label>
    <h1>Role</h1>
  </label>
  <div class="form-block">
    <label for="name">Name</label>
    <label for="name" aria-haspopup="true" role="tooltip" [ngClass]="'tooltip tooltip-validation tooltip-sm' + ((!itemLoaded || name.valid) ? '' : ' invalid')">
      <input class="form-control" name="name" class="form-control" [ngModel]="item.name" type="text" placeholder="Name" size="100">
    </label>
  </div>
  <table class="table">
    <thead>
      <tr>
        <th>Access</th>
        <th>Read</th>
        <th>Update</th>
        <th>Create</th>
        <th>Delete</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let p of permissions.accesses">
        <td class="tlabel">{{ p.id }}</td>
        <td>
          <clr-checkbox *ngIf="!!p.permissions.read"></clr-checkbox>
        </td>
        <td>
          <clr-checkbox *ngIf="!!p.permissions.update"></clr-checkbox>
        </td>
        <td>
          <clr-checkbox *ngIf="!!p.permissions.create"></clr-checkbox>
        </td>
        <td>
          <clr-checkbox *ngIf="!!p.permissions.delete"></clr-checkbox>
        </td>
      </tr>
    </tbody>
  </table>
  <table class="table">
    <thead>
      <tr>
        <th>Actions</th>
        <th>Perform</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of actions">
        <td class="tlabel">{{ item }}</td>
        <td>
          <clr-checkbox></clr-checkbox>
        </td>
      </tr>
    </tbody>
  </table>
  <div class="action-bar">
    <button type="submit" class="btn btn-primary">Save</button>
    <button type="button" class="btn btn-outline" (click)="onBack()">Back</button>
  </div>
</form>