<clr-datagrid (clrDgRefresh)="refresh($event)" [clrDgLoading]="loading" [(clrDgSelected)]="selected">
    <clr-dg-column [clrDgField]="'id'">ID</clr-dg-column>
    <clr-dg-column [clrDgField]="'name'">Name</clr-dg-column>
    <clr-dg-column [clrDgField]="'description'">Description</clr-dg-column>

    <clr-dg-row *ngFor="let item of items" [clrDgItem]="item">
        <clr-dg-cell>{{item.id}}</clr-dg-cell>
        <clr-dg-cell>{{item.name}}</clr-dg-cell>
        <clr-dg-cell>{{item.description}}</clr-dg-cell>
    </clr-dg-row>

    <clr-dg-footer>
        {{pagination.firstItem + 1}} - {{pagination.lastItem + 1}} of {{total}} items
        <clr-dg-pagination #pagination [clrDgTotalItems]="total"></clr-dg-pagination>
    </clr-dg-footer>
</clr-datagrid>
<div class="list-action-bar">
    <div class="btn-group">
        <button type="button" class="btn btn-sm btn-secondary" (click)="onAdd()" *ngIf="selected.length == 0">
            <clr-icon shape="plus"></clr-icon> Create New Product</button>
        <button type="button" class="btn btn-sm btn-secondary" (click)="onEdit()" *ngIf="selected.length == 1">
            <clr-icon shape="pencil"></clr-icon> Edit</button>
        <button type="button" class="btn btn-sm btn-secondary" (click)="onDelete()" *ngIf="selected.length > 0">
            <clr-icon shape="close"></clr-icon> Delete</button>
        <button type="button" class="btn btn-sm btn-secondary" (click)="onClearSelection()" *ngIf="selected.length > 0">
            <clr-icon shape="pencil"></clr-icon> Clear Selection</button>
    </div>
</div>
<div class="modal static bump-down" *ngIf="warning">
    <div class="modal-dialog" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">
                    <div class="alert alert-danger">
                        <div class="alert-items">
                            <div class="alert-item static">
                                <div class="alert-icon-wrapper">
                                    <clr-icon class="alert-icon" shape="exclamation-circle"></clr-icon>
                                </div>
                                <span class="alert-text">
                                    Need Your Attention
                                </span>
                            </div>
                        </div>
                    </div>
                </h3>
            </div>
            <div class="modal-body">
                <p>{{ warning }}</p>
            </div>
            <div class="modal-footer">
                <button (click)="clearWarning()" class="btn btn-primary" type="button">Ok</button>
            </div>
        </div>
    </div>
</div>
