<div class="loading-spinner" *ngIf="appSvc.loading">
    <div class="spinner">Loading...</div>
</div>
<clr-main-container>
    <clr-header *ngIf="!needLogin">
        <div class="branding">
            <a href="#" class="nav-link">
                <span class="clr-icon clr-clarity-logo"></span>
                <span class="title">Clarity</span>
            </a>
        </div>
    </clr-header>
    <div class="content-container" *ngIf="!needLogin">
        <div class="content-area">
            <router-outlet></router-outlet>
        </div>
        <clr-vertical-nav [clrVerticalNavCollapsible]="collapsible" [(clrVerticalNavCollapsed)]="collapse" xxxngIf="appSvc.user">
            <ng-container *ngFor="let item of items">
                <a clrVerticalNavLink [routerLink]="item.id" (click)="collapse = true" routerLinkActive="active" *ngIf="!item['children']">
                    <clr-icon [attr.shape]="item.icon" *ngIf="item['icon']" clrVerticalNavIcon></clr-icon>
                    {{item.label}}
                </a>
            </ng-container>
            <a clrVerticalNavLink (click)="logout()">
                Logout
            </a>
        </clr-vertical-nav>
    </div>
    <div class="login-wrapper" *ngIf="needLogin">
        <form class="login" (ngSubmit)="login()">
            <label class="title">
                <h3 class="welcome">Welcome to</h3>
                Company Product Name
                <h5 class="hint">Use your Company ID to sign in or create one now</h5>
            </label>
            <div class="login-group">
                <div class="error active" *ngIf="loginFailed">
                    Invalid user name or password
                </div>
                <input [(ngModel)]="user.name" name="user" class="username" type="text" id="login_username" placeholder="Username">
                <input [(ngModel)]="user.password" name="password" class="password" type="password" id="login_password" placeholder="Password">
                <button type="submit" class="btn btn-primary">NEXT</button>
                <a href="javascript://" class="signup">Sign up for a Company ID</a>
            </div>
        </form>
    </div>
</clr-main-container>
<div class="warning modal static bump-down" *ngIf="appSvc.warningMessage">
    <div class="modal-dialog" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">
                    <clr-icon class="alert-icon" shape="exclamation-circle"></clr-icon> {{ appSvc.warningTitle || "Need Your Attention" }}
                </h3>
            </div>
            <div class="modal-body">
                <p>{{ appSvc.warningMessage }}.</p>
            </div>
            <div class="modal-footer">
                <button (click)="appSvc.clearWarning()" class="btn btn-primary" type="button">Ok</button>
            </div>
        </div>
    </div>
</div>
<div class="modal-backdrop" aria-hidden="true" *ngIf="appSvc.warningMessage"></div>