.clr-icon {
  &.clr-clarity-logo {
    background-image: url(../images/clarity_logo.svg);
    height: 36px;
    width: 36px;
    margin-right: 11px;
  }
}

.loading-spinner {
  position: fixed;
  width: 100%;
  height: 100%;
  padding-top: 50%;
  text-align: center;
  background: rgba(#dddddd, 0.6);

  z-index: 1040;

  .spinner {
    margin-top: -36px;
  }
}

.warning.modal .modal-title {
  color: #aa0000;
}
