<div class="loading-spinner" *ngIf="appSvc.loading">
    <div class="spinner">Loading...</div>
</div>
<clr-main-container>
    <clr-header>
        <div class="branding">
            <a href="#" class="nav-link">
                <span class="clr-icon clr-clarity-logo"></span>
                <span class="title">Clarity</span>
            </a>
        </div>
    </clr-header>
    <div class="content-container">
        <div class="content-area">
            <router-outlet></router-outlet>
        </div>
        <clr-vertical-nav [clrVerticalNavCollapsible]="collapsible" [(clrVerticalNavCollapsed)]="collapse" xxxngIf="appSvc.user">
            <ng-container *ngFor="let item of items">
                <a clrVerticalNavLink [routerLink]="item.id" (click)="collapse = true" routerLinkActive="active" *ngIf="!item['children']">
                    <clr-icon [attr.shape]="item.icon" *ngIf="item['icon']" clrVerticalNavIcon></clr-icon>
                    {{item.label}}
                </a>
            </ng-container>
        </clr-vertical-nav>
    </div>
</clr-main-container>
